@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*background-color: #fafafa;*/
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 1.35;
    background-color: #81B700;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
    margin: 50px 0;
}
.container{
    width: 1200px;
    float: none;
    margin: 0 auto;
    background-color: #FFFFFF;
}
section .container .baotrum{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    line-height: 65px;
}
.container .login{
    text-align: center;
    flex: 1;
}
.container .register{
    color: #FFFFFF;
    text-align: center;
    flex: 1;
    background-color: #cccccc;
}
.container form{
    margin: 80px 30px 15px;
}
form .tren label,
form .giua label{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 20px;
}
form .tren input,
form .giua input{
    height: 40px;
    width: 1098px;
    border: none;
    margin: 15px 20px;
}
form .giua{
    margin-top: 20px;
}
form .duoi{
    display: flex;
    justify-content: space-between;
}
form .duoi p a{
    text-align: center;
    font-size: 16px;
    color: #099ADB;
    line-height: 55px;
    float: left;
    padding-left: 30px;
}
form .duoi button{
    float: right;
    width: 30%;
    background-color: #02b503;
    height: 55px;
    border: none;
    color: #FFFFFF;
    font-size: 23px;
}
form .duoi .phan50{
    margin: 30px 0;
    flex: 1;
    height: 55px;
}
.container .face{
    width: 100%;
    background-color: #0d6efd;
    display: flex;
    height: 55px;
}
.face .logo{
    text-align: center;
    line-height: 55px;
    flex: 1;
}
.face .signface{
    line-height: 55px;
    flex: 5;
    color: #cccccc;
}
.container .gog{
    display: flex;
    background-color: #b52c37;
    width: 100%;
    height: 55px;
}
.gog .logo{
    text-align: center;
    line-height: 55px;
    flex: 1;
}
.gog .signgog{
    flex: 5;
    line-height: 55px;
    color: #cccccc;
}
.container span{
    color: #FFFFFF;
}